<table style="height: 293px; background-color: yellow; border-color: brown;" width="633">
<tbody>
<tr>
<td style="width: 623px;">
<h2 style="text-align: center;"><span style="color: #ff00ff;">В лесу родилась <em>ёлочка,</em></span></h2>
<h2 style="text-align: center;"><span style="color: #0000ff;">В лесу она росла,</span></h2>
<h2 style="text-align: center;"><span style="color: #ff0000;">Зимой и летом стройная,</span></h2>
<h2 style="text-align: center;"><span style="text-decoration: underline; color: #008000;"><strong><span>Зеленая была.</span></strong></span></h2>
</td>
</tr>
</tbody>
</table>
<h2 style="padding-left: 30px; text-align: center;">&nbsp;</h2>